<div class="jumbotron">
  <h1>List of Football Players</h1>
  <p>This website gives you a chance to input football players and their information</p>
  <p><a class="btn btn-primary btn-lg" href="/football_players" role="button">Let's do this!</a></p>
</div>
